/*
body {
  margin: 0px;
  background-color: #dcf5f7
}


nav {
  margin: 0px;
  background-color: #b1ddf5;
}

fotter {
  margin: 0px;
  background-color: #c8effa;
  display: block;
}
*/
body {
  background-color: #E2E28A;
}
header {
  background-color: #F5B8B5;
}

h1 {
  color: #864544;
  font-size: 36px;
}

h2 {
  font-size: 18px;
}

.mainwrapper {
  background-color: #FBE5EB
}

a {
  color: #353f41
}

li {
  list-style: none;
  float: left;
  padding: 5px;
}

.copyright {
  font-size: 12px;
}