@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

body {
  background-color: #C0A36B;
  margin: 0px;
  height: 100%
}

h1 {
  font-family: "Nico Moji";
  position: absolute;
  color: #F3F9F9;
  font-size: 36px;
  mix-blend-mode: screen;
  z-index: 1;
  text-shadow: 3px 3px 4px #7E9CAB
}
h2 {
  font-size: 18px;
  color: #F3F9F9;
  text-shadow: 2px 2px 3px #C0A36B
}

.basewrapper {

  background-color: #f3f9f9;
  /*background-image: url("img/bg_001.jpg");*/
  border-radius: 10px;
  padding: 10px;
  height: 90vh;
  margin: 30px;
}
.mainwrapper { 
  position: relative;
  background-color: rgba(125, 205, 243, 0.65);
  margin: 0 auto;
  height: 560px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius:  30% 15%  30% 15% /  50% 20%  50% 20%;
  box-shadow: 3px 3px 10px #C0A36B
}
a {
  color: #F3F9F9;
  text-shadow: 2px 2px 3px #C0A36B
}
nav {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
li {
  list-style: none;
  /*float: left;*/
  padding: 5px;
}

.link {
  position: relative;
  z-index: 1;
  display: block;
}

main {
  position: relative;
  top: 100px;
  width: 600px;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #F3F9F9;

  text-shadow: 0px 0px 2px #C0A36B
}

.copyright {
  font-size: 12px;
}

/*====Design==============================*/
.circle_1 {
  position: absolute;
  top: -50px;
  left: -50px;
  height: 200px;
  width: 200px;
  background: rgba(147, 202, 130, 0.4);
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 20s infinite linear;
  mix-blend-mode: multiply;
}
.circle_2 {
  position: absolute;
  top: 40px;
  left: 10px;
  height: 160px;
  width: 160px;
  background: rgba(149, 178, 221, 0.3);
  border-radius: 33% 40% 50% 40%/30% 50% 30% 50%;
  animation: border-animation 200s infinite linear;
  mix-blend-mode: multiply;
}
.circle_3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 140px;
  width: 140px;
  background: rgba(152, 155, 204, 0.5);
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 150s infinite linear;
}

@keyframes border-animation {
  to { transform: rotate(360deg); }
}